<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:insert="~{layout :: base(~{::title}, ~{::body})}">
<head>
    <title>Registrar</title>
    <style>
        /* Estilos para los campos de entrada */
        input {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%;
        }
        
        /* Estilos para el botón */
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Registrate!</h1>
    <p>Registrate como administrador</p>
    <form th:action="@{/registrar}" method="post" th:object="${registerUser}">
        <div>
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" th:field="*{username}">
        </div>
        <div>
            <label for="email">Correo electronico</label>
            <input id="email" type="email" th:field="*{email}">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input id="password" type="password" th:field="*{password}">
        </div>
        <button class="btn btn-primary">Registrarme</button>
    </form>
</body>
</html>