<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(titulo)">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title th:replace="${titulo}"></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
            <a class="navbar-brand" th:href="@{/}">Detalles</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/nosotros}">Listas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" th:href="@{/marcas}">Empleados</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link text-white" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link text-white" th:href="@{/registrar}">Registrate!</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" method="post" class="nav-link">
                            <button class="btn btn-link text-white">Logout</button>
                        </form>
                    </li>
                </ul>
                
            </div>
        </nav>
    </div>


    <div th:fragment="footer">
        <footer>
            Siguenos en nuestras redes...
        </footer>
    </div>


    <div th:fragment="publicidad">
        <p>Accede a la lista de Empleados</p>
    </div>
</body>